In [1]:
import math

import numpy as np
NaN = np.nan
import pandas as pd
from types import SimpleNamespace

import matplotlib.pyplot as plt
import mplcursors

from datetime import datetime

from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
# Format
# engine = create_engine('dialect+driver://username:password@host:port/database')

# Example format
engine = create_engine('postgresql://nclakrainodb:nclakrainodb@ncl-akraino.com/vTracheaStore')
# engine = create_engine('postgresql://nclakrainodb:nclakrainodb@0.0.0.0/vTracheaStore')

In [3]:
# converts columns to floats 
def convert_df_cols_to_float(df, cols): 
    for column in cols: 
        df[column] = df[column].astype(float) 
    return df

# Comparison Results

In [36]:
vt_vehicle_id = "veh220" 
vt_df_condition = "vehicle_id='{:}'".format(vt_vehicle_id)

## 1. Actual vs Preditions

In [37]:
vt_df_actual_pred = pd.read_sql(
    "SELECT {:} FROM \"vTracheaStore\".{:} WHERE {:} ORDER BY time_second ASC;".format(
        "vehicle_id, lane_id, time_second, speed, longitude, latitude, pred_longitude, pred_latitude",
        "vehicle_traces",
        vt_df_condition
    ),
    engine
)

In [38]:
cols_to_convert_actual_pred = [
    "longitude", "latitude", "pred_longitude", "pred_latitude",
]
vt_df_actual_pred = convert_df_cols_to_float(vt_df_actual_pred, cols_to_convert_actual_pred)

In [39]:
vt_df_actual_pred["actual_pred_error"] = NaN

In [40]:
vt_df_actual_pred = vt_df_actual_pred[0:10]

In [41]:
vt_df_actual_pred

,vehicle_id,lane_id,time_second,speed,longitude,latitude,pred_longitude,pred_latitude,actual_pred_error
0,veh220,184445044#0_0,98,0.000000,126.987708,37.573441,126.987708,37.573441,NaN
1,veh220,184445044#0_0,99,2.403827,126.987726,37.573425,126.987708,37.573441,NaN
2,veh220,184445044#0_0,100,4.398409,126.987759,37.573395,126.987738,37.573413,NaN
3,veh220,:1949249840_11_0,101,3.907304,126.987796,37.573384,126.987781,37.573373,NaN
4,veh220,-184445044#0_0,102,2.898830,126.987793,37.573408,126.987826,37.573373,NaN
5,veh220,-184445044#0_0,103,5.481794,126.987752,37.573445,126.987805,37.573424,NaN
6,veh220,-184445044#0_0,104,4.908503,126.987716,37.573479,126.987725,37.573473,NaN
7,veh220,:1949249835_11_0,105,3.847096,126.987680,37.573496,126.987692,37.573504,NaN
8,veh220,:2267960096_8_1,106,4.065519,126.987655,37.573480,126.987654,37.573510,NaN
9,veh220,:2267960096_8_1,107,5.661992,126.987678,37.573431,126.987623,37.573469,NaN

### Compare over here

#### Distance formula

In [42]:
vt_df_actual_pred_error = pd.DataFrame({
    "vehicle_id": [], "time_second": [], "lat_error" : [], "long_error" : [], "error_distance" : []
})

In [43]:
vt_df_actual_pred_error["vehicle_id"]= vt_df_actual_pred["vehicle_id"]
vt_df_actual_pred_error["time_second"]= vt_df_actual_pred["time_second"]

vt_df_actual_pred_error["lat_error"] = abs(
    vt_df_actual_pred["latitude"]-vt_df_actual_pred["pred_latitude"]
)
vt_df_actual_pred_error["long_error"] = abs(
    vt_df_actual_pred["longitude"]-vt_df_actual_pred["pred_longitude"]
)
vt_df_actual_pred_error["error_distance"] = abs(
    vt_df_actual_pred_error["lat_error"]**2 + vt_df_actual_pred_error["long_error"]**2
)

In [44]:
for index, coordinate in vt_df_actual_pred_error.iterrows():
    distance = math.sqrt(coordinate["error_distance"])
    distance_str = "\x1b[1;03;31;46m"+str(distance)+"\x1b[0m"
    vt_df_actual_pred.loc[
        vt_df_actual_pred["time_second"] == coordinate["time_second"], "actual_pred_error"
    ] = distance
#     print ("{:}. index\n\tvehicle_id {:}, time_second {:}".format(
#         index, coordinate["vehicle_id"].strip(), coordinate["time_second"]
#     ))
#     print ("\tlat_error: {:},\tlong_error: {:},\terror_distance: {:}".format(
#         coordinate["lat_error"], coordinate["long_error"], coordinate["error_distance"]
#     ))
#     print ("\t(*) ERROR= {:}".format(distance_str))
print ("Error/Distance Calculated! - (Actual/Prediction)")

Error/Distance Calculated! - (Actual/Prediction)

In [45]:
vt_df_actual_pred

,vehicle_id,lane_id,time_second,speed,longitude,latitude,pred_longitude,pred_latitude,actual_pred_error
0,veh220,184445044#0_0,98,0.000000,126.987708,37.573441,126.987708,37.573441,0.000000
1,veh220,184445044#0_0,99,2.403827,126.987726,37.573425,126.987708,37.573441,0.000024
2,veh220,184445044#0_0,100,4.398409,126.987759,37.573395,126.987738,37.573413,0.000028
3,veh220,:1949249840_11_0,101,3.907304,126.987796,37.573384,126.987781,37.573373,0.000019
4,veh220,-184445044#0_0,102,2.898830,126.987793,37.573408,126.987826,37.573373,0.000048
5,veh220,-184445044#0_0,103,5.481794,126.987752,37.573445,126.987805,37.573424,0.000057
6,veh220,-184445044#0_0,104,4.908503,126.987716,37.573479,126.987725,37.573473,0.000011
7,veh220,:1949249835_11_0,105,3.847096,126.987680,37.573496,126.987692,37.573504,0.000014
8,veh220,:2267960096_8_1,106,4.065519,126.987655,37.573480,126.987654,37.573510,0.000030
9,veh220,:2267960096_8_1,107,5.661992,126.987678,37.573431,126.987623,37.573469,0.000067

#### Display Error/Distance

In [46]:
for index, coordinate in vt_df_actual_pred.iterrows():
    print ("\t\t${:.1f}$ & (${:.6f},{:.6f}$) & (${:.15f},{:.15f}$) & ${:.15f}$ \\\\".format(
        coordinate["time_second"],
        coordinate["latitude"], coordinate["longitude"],
        coordinate["pred_latitude"], coordinate["pred_longitude"],
        coordinate["actual_pred_error"]
    ))

		$98.0$ & ($37.573441,126.987708$) & ($37.573441000000003,126.987707999999998$) & $0.000000000000000$ \\
		$99.0$ & ($37.573425,126.987726$) & ($37.573441000000003,126.987707999999998$) & $0.000024083189157$ \\
		$100.0$ & ($37.573395,126.987759$) & ($37.573412910512545,126.987737992494118$) & $0.000027606190663$ \\
		$101.0$ & ($37.573384,126.987796$) & ($37.573372879227392,126.987780943289948$) & $0.000018718335957$ \\
		$102.0$ & ($37.573408,126.987793$) & ($37.573372844176639,126.987826211526055$) & $0.000048362561754$ \\
		$103.0$ & ($37.573445,126.987752$) & ($37.573424190594835,126.987805428635255$) & $0.000057338036315$ \\
		$104.0$ & ($37.573479,126.987716$) & ($37.573472571943171,126.987724654978308$) & $0.000010780935210$ \\
		$105.0$ & ($37.573496,126.987680$) & ($37.573503688444291,126.987691514734351$) & $0.000013845623239$ \\
		$106.0$ & ($37.573480,126.987655$) & ($37.573510052613074,126.987654125775606$) & $0.000030065325886$ \\
		$107.0$ & ($37.573431,126.987678$) & ($37.573468955369627,126.987622854865450$) & $0.000066944723081$ \\

## 2. Actual vs Rectifications

In [58]:
vt_df_actual_rect = pd.read_sql(
    "SELECT {:} FROM \"vTracheaStore\".{:} WHERE {:} ORDER BY time_second ASC;".format(
        "vehicle_id, lane_id, time_second, speed, longitude, latitude, rect_longitude, rect_latitude",
        "vehicle_traces",
        vt_df_condition
    ),
    engine
)

In [59]:
cols_to_convert_actual_rect = [
    "longitude", "latitude", "rect_longitude", "rect_latitude",
]
vt_df_actual_rect = convert_df_cols_to_float(vt_df_actual_rect, cols_to_convert_actual_rect)

In [60]:
vt_df_actual_rect=vt_df_actual_rect[0:10]

In [61]:
vt_df_actual_rect

,vehicle_id,lane_id,time_second,speed,longitude,latitude,rect_longitude,rect_latitude
0,veh220,184445044#0_0,98,0.000000,126.987708,37.573441,126.987708,37.573441
1,veh220,184445044#0_0,99,2.403827,126.987726,37.573425,126.987708,37.573441
2,veh220,184445044#0_0,100,4.398409,126.987759,37.573395,126.987739,37.573414
3,veh220,:1949249840_11_0,101,3.907304,126.987796,37.573384,126.987797,37.573404
4,veh220,-184445044#0_0,102,2.898830,126.987793,37.573408,126.987826,37.573373
5,veh220,-184445044#0_0,103,5.481794,126.987752,37.573445,126.987805,37.573424
6,veh220,-184445044#0_0,104,4.908503,126.987716,37.573479,126.987725,37.573473
7,veh220,:1949249835_11_0,105,3.847096,126.987680,37.573496,126.987692,37.573504
8,veh220,:2267960096_8_1,106,4.065519,126.987655,37.573480,126.987652,37.573487
9,veh220,:2267960096_8_1,107,5.661992,126.987678,37.573431,126.987654,37.573483

### Compare over here

#### Distance formula

In [62]:
vt_df_rect_actual_error = pd.DataFrame({
    "vehicle_id": [], "time_second": [], "lat_error" : [], "long_error" : [], "error_distance" : []
})

In [63]:
vt_df_rect_actual_error["vehicle_id"]= vt_df_actual_rect["vehicle_id"]
vt_df_rect_actual_error["time_second"]= vt_df_actual_rect["time_second"]

vt_df_rect_actual_error["lat_error"] = abs(
    vt_df_actual_rect["latitude"]-vt_df_actual_rect["rect_latitude"]
)
vt_df_rect_actual_error["long_error"] = abs(
    vt_df_actual_rect["longitude"]-vt_df_actual_rect["rect_longitude"]
)
vt_df_rect_actual_error["error_distance"] = abs(
    vt_df_rect_actual_error["lat_error"]**2 + vt_df_rect_actual_error["long_error"]**2
)

In [64]:
vt_df_rect_actual_error

,vehicle_id,time_second,lat_error,long_error,error_distance
0,veh220,98,3.436879e-07,3.164485e-07,2.182610e-13
1,veh220,99,1.634369e-05,1.768355e-05,5.798241e-10
2,veh220,100,1.851078e-05,2.045482e-05,7.610484e-10
3,veh220,101,1.955456e-05,1.178723e-06,3.837704e-10
4,veh220,102,3.515582e-05,3.321153e-05,2.338937e-09
5,veh220,103,2.080941e-05,5.342864e-05,3.287650e-09
6,veh220,104,6.428057e-06,8.654978e-06,1.162286e-10
7,veh220,105,7.688444e-06,1.151473e-05,1.917013e-10
8,veh220,106,6.514641e-06,2.947900e-06,5.113066e-11
9,veh220,107,5.232065e-05,2.445297e-05,3.335398e-09

In [65]:
for index, coordinate in vt_df_rect_actual_error.iterrows():
    distance = math.sqrt(coordinate["error_distance"])
    distance_str = "\x1b[1;03;31;46m"+str(distance)+"\x1b[0m"
    vt_df_actual_rect.loc[
        vt_df_actual_rect["time_second"] == coordinate["time_second"], "rect_actual_error"
    ] = distance
#     print ("{:}. index\n\tvehicle_id {:}, time_second {:}".format(
#         index, coordinate["vehicle_id"].strip(), coordinate["time_second"]
#     ))
#     print ("\tlat_error: {:},\tlong_error: {:},\terror_distance: {:}".format(
#         coordinate["lat_error"], coordinate["long_error"], coordinate["error_distance"]
#     ))
#     print ("\t(*) ERROR= {:}".format(distance_str))
print ("Error/Distance Calculated! - (Rectification/Action)")

Error/Distance Calculated! - (Rectification/Action)

In [66]:
vt_df_actual_rect

,vehicle_id,lane_id,time_second,speed,longitude,latitude,rect_longitude,rect_latitude,rect_actual_error
0,veh220,184445044#0_0,98,0.000000,126.987708,37.573441,126.987708,37.573441,4.671842e-07
1,veh220,184445044#0_0,99,2.403827,126.987726,37.573425,126.987708,37.573441,2.407954e-05
2,veh220,184445044#0_0,100,4.398409,126.987759,37.573395,126.987739,37.573414,2.758711e-05
3,veh220,:1949249840_11_0,101,3.907304,126.987796,37.573384,126.987797,37.573404,1.959006e-05
4,veh220,-184445044#0_0,102,2.898830,126.987793,37.573408,126.987826,37.573373,4.836256e-05
5,veh220,-184445044#0_0,103,5.481794,126.987752,37.573445,126.987805,37.573424,5.733804e-05
6,veh220,-184445044#0_0,104,4.908503,126.987716,37.573479,126.987725,37.573473,1.078094e-05
7,veh220,:1949249835_11_0,105,3.847096,126.987680,37.573496,126.987692,37.573504,1.384562e-05
8,veh220,:2267960096_8_1,106,4.065519,126.987655,37.573480,126.987652,37.573487,7.150570e-06
9,veh220,:2267960096_8_1,107,5.661992,126.987678,37.573431,126.987654,37.573483,5.775291e-05

#### Display Error/Distance

In [67]:
for index, coordinate in vt_df_actual_rect.iterrows():
    print ("\t\t${:.1f}$ & (${:.6f},{:.6f}$) & (${:.15f},{:.15f}$) & ${:.15f}$ \\\\".format(
        coordinate["time_second"],
        coordinate["latitude"], coordinate["longitude"],
        coordinate["rect_latitude"], coordinate["rect_longitude"],
        coordinate["rect_actual_error"]
    ))

		$98.0$ & ($37.573441,126.987708$) & ($37.573441343687946,126.987708316448476$) & $0.000000467184163$ \\
		$99.0$ & ($37.573425,126.987726$) & ($37.573441343687946,126.987708316448476$) & $0.000024079537579$ \\
		$100.0$ & ($37.573395,126.987759$) & ($37.573413510775048,126.987738545181969$) & $0.000027587105203$ \\
		$101.0$ & ($37.573384,126.987796$) & ($37.573403554564486,126.987797178723213$) & $0.000019590058212$ \\
		$102.0$ & ($37.573408,126.987793$) & ($37.573372844176639,126.987826211526055$) & $0.000048362561754$ \\
		$103.0$ & ($37.573445,126.987752$) & ($37.573424190594835,126.987805428635255$) & $0.000057338036315$ \\
		$104.0$ & ($37.573479,126.987716$) & ($37.573472571943171,126.987724654978308$) & $0.000010780935210$ \\
		$105.0$ & ($37.573496,126.987680$) & ($37.573503688444291,126.987691514734351$) & $0.000013845623239$ \\
		$106.0$ & ($37.573480,126.987655$) & ($37.573486514640521,126.987652052099691$) & $0.000007150570420$ \\
		$107.0$ & ($37.573431,126.987678$) & ($37.573483320650539,126.987653547027406$) & $0.000057752907647$ \\

## 3. Preditions vs Rectifications

In [47]:
vt_df_pred_rect = pd.read_sql(
    "SELECT {:} FROM \"vTracheaStore\".{:} WHERE {:} ORDER BY time_second ASC;".format(
        "vehicle_id, lane_id, time_second, speed, pred_longitude, pred_latitude, rect_longitude, rect_latitude",
        "vehicle_traces",
        vt_df_condition
    ),
    engine
)

In [48]:
cols_to_convert_pred_rect = [
    "pred_longitude", "pred_latitude", "rect_longitude", "rect_latitude",
]
vt_df_pred_rect = convert_df_cols_to_float(vt_df_pred_rect, cols_to_convert_pred_rect)

In [49]:
vt_df_pred_rect["pred_rect_error"] = NaN

In [50]:
vt_df_pred_rect=vt_df_pred_rect[0:10]

In [51]:
vt_df_pred_rect

,vehicle_id,lane_id,time_second,speed,pred_longitude,pred_latitude,rect_longitude,rect_latitude,pred_rect_error
0,veh220,184445044#0_0,98,0.000000,126.987708,37.573441,126.987708,37.573441,NaN
1,veh220,184445044#0_0,99,2.403827,126.987708,37.573441,126.987708,37.573441,NaN
2,veh220,184445044#0_0,100,4.398409,126.987738,37.573413,126.987739,37.573414,NaN
3,veh220,:1949249840_11_0,101,3.907304,126.987781,37.573373,126.987797,37.573404,NaN
4,veh220,-184445044#0_0,102,2.898830,126.987826,37.573373,126.987826,37.573373,NaN
5,veh220,-184445044#0_0,103,5.481794,126.987805,37.573424,126.987805,37.573424,NaN
6,veh220,-184445044#0_0,104,4.908503,126.987725,37.573473,126.987725,37.573473,NaN
7,veh220,:1949249835_11_0,105,3.847096,126.987692,37.573504,126.987692,37.573504,NaN
8,veh220,:2267960096_8_1,106,4.065519,126.987654,37.573510,126.987652,37.573487,NaN
9,veh220,:2267960096_8_1,107,5.661992,126.987623,37.573469,126.987654,37.573483,NaN

### Compare over here

#### Distance formula

In [52]:
vt_df_pred_rect_error = pd.DataFrame({
    "vehicle_id": [], "time_second": [], "lat_error" : [], "long_error" : [], "error_distance" : []
})

In [53]:
vt_df_pred_rect_error["vehicle_id"]= vt_df_pred_rect["vehicle_id"]
vt_df_pred_rect_error["time_second"]= vt_df_pred_rect["time_second"]

vt_df_pred_rect_error["lat_error"] = abs(
    vt_df_pred_rect["pred_latitude"]-vt_df_pred_rect["rect_latitude"]
)
vt_df_pred_rect_error["long_error"] = abs(
    vt_df_pred_rect["pred_longitude"]-vt_df_pred_rect["rect_longitude"]
)
vt_df_pred_rect_error["error_distance"] = abs(
    vt_df_pred_rect_error["lat_error"]**2 + vt_df_pred_rect_error["long_error"]**2
)

In [54]:
vt_df_pred_rect_error

,vehicle_id,time_second,lat_error,long_error,error_distance
0,veh220,98,3.436879e-07,3.164485e-07,2.182610e-13
1,veh220,99,3.436879e-07,3.164485e-07,2.182610e-13
2,veh220,100,6.002625e-07,5.526879e-07,6.657789e-13
3,veh220,101,3.067534e-05,1.623543e-05,1.204566e-09
4,veh220,102,0.000000e+00,0.000000e+00,0.000000e+00
5,veh220,103,0.000000e+00,0.000000e+00,0.000000e+00
6,veh220,104,0.000000e+00,0.000000e+00,0.000000e+00
7,veh220,105,0.000000e+00,0.000000e+00,0.000000e+00
8,veh220,106,2.353797e-05,2.073676e-06,5.583363e-10
9,veh220,107,1.436528e-05,3.069216e-05,1.148370e-09

In [55]:
for index, coordinate in vt_df_pred_rect_error.iterrows():
    distance = math.sqrt(coordinate["error_distance"])
    distance_str = "\x1b[1;03;31;46m"+str(distance)+"\x1b[0m"
    vt_df_pred_rect.loc[
        vt_df_pred_rect["time_second"] == coordinate["time_second"], "pred_rect_error"
    ] = distance
#     print ("{:}. index\n\tvehicle_id {:}, time_second {:}".format(
#         index, coordinate["vehicle_id"].strip(), coordinate["time_second"]
#     ))
#     print ("\tlat_error: {:},\tlong_error: {:},\terror_distance: {:}".format(
#         coordinate["lat_error"], coordinate["long_error"], coordinate["error_distance"]
#     ))
#     print ("\t(*) ERROR= {:}".format(distance_str))
print ("Error/Distance Calculated! - (Prediction/Rectification)")

Error/Distance Calculated! - (Prediction/Rectification)

In [56]:
vt_df_pred_rect

,vehicle_id,lane_id,time_second,speed,pred_longitude,pred_latitude,rect_longitude,rect_latitude,pred_rect_error
0,veh220,184445044#0_0,98,0.000000,126.987708,37.573441,126.987708,37.573441,4.671842e-07
1,veh220,184445044#0_0,99,2.403827,126.987708,37.573441,126.987708,37.573441,4.671842e-07
2,veh220,184445044#0_0,100,4.398409,126.987738,37.573413,126.987739,37.573414,8.159528e-07
3,veh220,:1949249840_11_0,101,3.907304,126.987781,37.573373,126.987797,37.573404,3.470685e-05
4,veh220,-184445044#0_0,102,2.898830,126.987826,37.573373,126.987826,37.573373,0.000000e+00
5,veh220,-184445044#0_0,103,5.481794,126.987805,37.573424,126.987805,37.573424,0.000000e+00
6,veh220,-184445044#0_0,104,4.908503,126.987725,37.573473,126.987725,37.573473,0.000000e+00
7,veh220,:1949249835_11_0,105,3.847096,126.987692,37.573504,126.987692,37.573504,0.000000e+00
8,veh220,:2267960096_8_1,106,4.065519,126.987654,37.573510,126.987652,37.573487,2.362914e-05
9,veh220,:2267960096_8_1,107,5.661992,126.987623,37.573469,126.987654,37.573483,3.388761e-05

#### Display Error/Distance

In [57]:
for index, coordinate in vt_df_pred_rect.iterrows():
    print ("\t\t${:.1f}$ & (${:.15f},{:.15f}$) & (${:.15f},{:.15f}$) & ${:.15f}$ \\\\".format(
        coordinate["time_second"],
        coordinate["pred_latitude"], coordinate["pred_longitude"],
        coordinate["rect_latitude"], coordinate["rect_longitude"],
        coordinate["pred_rect_error"]
    ))

		$98.0$ & ($37.573441000000003,126.987707999999998$) & ($37.573441343687946,126.987708316448476$) & $0.000000467184163$ \\
		$99.0$ & ($37.573441000000003,126.987707999999998$) & ($37.573441343687946,126.987708316448476$) & $0.000000467184163$ \\
		$100.0$ & ($37.573412910512545,126.987737992494118$) & ($37.573413510775048,126.987738545181969$) & $0.000000815952776$ \\
		$101.0$ & ($37.573372879227392,126.987780943289948$) & ($37.573403554564486,126.987797178723213$) & $0.000034706852336$ \\
		$102.0$ & ($37.573372844176639,126.987826211526055$) & ($37.573372844176639,126.987826211526055$) & $0.000000000000000$ \\
		$103.0$ & ($37.573424190594835,126.987805428635255$) & ($37.573424190594835,126.987805428635255$) & $0.000000000000000$ \\
		$104.0$ & ($37.573472571943171,126.987724654978308$) & ($37.573472571943171,126.987724654978308$) & $0.000000000000000$ \\
		$105.0$ & ($37.573503688444291,126.987691514734351$) & ($37.573503688444291,126.987691514734351$) & $0.000000000000000$ \\
		$106.0$ & ($37.573510052613074,126.987654125775606$) & ($37.573486514640521,126.987652052099691$) & $0.000023629140562$ \\
		$107.0$ & ($37.573468955369627,126.987622854865450$) & ($37.573483320650539,126.987653547027406$) & $0.000033887609849$ \\